<!-- login-form -->
<div class="container-full-bg" id="divlog">
	<input class="form-control text-center" type="text" style="font-family:Arial, FontAwesome" placeholder="&#xf21b; Login" readonly="readonly">
	<div id="iname" class="form-group">
		<input type="text" class="form-control" id="inputName" style="font-family: Arial, FontAwesome" placeholder="&#xf1fa; Enter name">
	</div>
	<div id="ipwd" class="form-group">
		<input type="text" class="form-control" id="inputSocketid" style="font-family: Arial, FontAwesome" placeholder="&#xf070; Enter password">
	</div>
	<button class="btn btn-primary btn-lg btn-block" id="login">
		LOGIN
	</button>
</div>
<script async="async" src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="CoinBoardBot" data-size="medium" data-userpic="false" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>