<!-- login-form with POST -->
<div class="container-full-bg" id="divlog" style="border: black solid 2px;">
	<div class="card w-100 p-3">
		<form action="/login" method="post">
			<div class="card-header" style="border: black solid 2px;">
				<h4 class="text-primary text-center">
					<span class="lnr lnr-lock"></span>LOGIN</h4>
			</div>
			<div class="form-group" style="border: black solid 2px;">
				<div id="iname" class="form-group">
					<input name="logusername" type="text" class="form-control text-info" id="inputName" placeholder="@ Username">
				</div>
				<div id="ipwd" class="form-group">
					<input name="logpassword" type="password" class="form-control text-info" id="inputSocketid" placeholder="XX Password">
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary" id="submit">
						OK
					</button>
				</div>
			</div>
		</form>
	</div>
</div>