<div class="card">
	<div class="card-header text-center">
		<h1>Banks
		</h1>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h3>
			<li>CreditAgricole</li>
		</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account</th>
					<th scope="col">Secret</th>
					<th scope="col">Last update</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>[account nbr]</td>
					<td>[XXX]</td>
					<td>Date</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-primary">Add</a>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h3>
			<li>N26</li>
		</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account</th>
					<th scope="col">Secret</th>
					<th scope="col">Last update</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>[account nbr]</td>
					<td>[XXX]</td>
					<td>Date</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-primary">Add</a>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h3>
			<li>Revolut</li>
		</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account</th>
					<th scope="col">Secret</th>
					<th scope="col">Last update</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>[account nbr]</td>
					<td>[XXX]</td>
					<td>Date</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-primary">Add</a>
	</div>
</div>
<div class="card">
	<div class="card-header text-center">
		<h1>Crypto
		</h1>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h3>
			<li>Coinbase</li>
		</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account</th>
					<th scope="col">Secret</th>
					<th scope="col">Last update</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>[account nbr]</td>
					<td>[XXX]</td>
					<td>Date</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-primary">Add</a>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h3>
			<li>Kucoin</li>
		</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account</th>
					<th scope="col">Secret</th>
					<th scope="col">Last update</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>[account nbr]</td>
					<td>[XXX]</td>
					<td>Date</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-primary">Add</a>
	</div>
</div>
<div class="card">
	<div class="card-header text-center">
		<h1>Options market
		</h1>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h3>
			<li>Etoro</li>
		</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account</th>
					<th scope="col">Secret</th>
					<th scope="col">Last update</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>[account nbr]</td>
					<td>[XXX]</td>
					<td>Date</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-primary">Add</a>
	</div>
</div>