<div id="lpanel" class="sidebar" style="border-style: solid; border-width: 2px;">
	<ul class="nav nav-pills nav-fill flex-column">
		<span class="border border-white">
			<nav class="navbar navbar-light">
				<a class="navbar-brand text-white">
					<i style="font-size: 25px;" class="icon ion-ios-paper-outline"></i>
					COIN_B04RD
				</a>
			</nav>
		</span>
		<li class="nav-item">
			<a id="dashboard" class="nav-link" href="/assets/dashboard">
				<i style="font-size: 32px;" class="icon ion-android-apps"></i>
				Dashboard
			</a>
		</li>
		<li class="nav-item">
			<a id="infofeed" class="nav-link" href="/assets/infofeed">
				<i style="font-size: 32px;" class="icon ion-android-contacts"></i>
				Live Infos
			</a>
		</li>
		<li class="nav-item">
			<a id="pricefeed" class="nav-link" href="/assets/pricefeed">
				<i style="font-size: 32px;" class="icon ion-android-notifications-none"></i>
				Price Feed
			</a>
		</li>
		<li class="nav-item">
			<a id="trade" class="nav-link" href="/assets/trade">
				<i style="font-size: 32px;" class="icon ion-ios-cart-outline"></i>
				Go trade
			</a>
		</li>
		<li class="nav-item">
			<a id="reports" class="nav-link" href="/assets/trade/reports">
				<i style="font-size: 32px;" class="icon ion-android-clipboard"></i>
				Last movements
			</a>
		</li>
		<li class="nav-item">
			<a id="apiparam" class="nav-link" href="/assets/api/param">
				<i style="font-size: 32px;" class="icon ion-android-options"></i>
				API Param
			</a>
		</li>
	</ul>
	<ul class="nav nav-pills nav-fill flex-column mb-2">
		<span class="border border-white">
			<nav class="navbar navbar-light">
				<a class="navbar-brand text-white">
					<i style="font-size: 25px;" class="icon ion-ios-paper-outline"></i>
					Trade reports
				</a>
			</nav>
		</span>
		<li class="nav-item">
			<a id="trades/reports/currmonth" class="nav-link" href="/assets/trade/reports/currmonth">
				<i style="font-size: 32px;" class="icon ion-ios-calendar-outline"></i>
				Current month
			</a>
		</li>
		<li class="nav-item">
			<a id="trades/reports/currquart" class="nav-link" href="/assets/trade/reports/currquart">
				<i style="font-size: 32px;" class="icon ion-ios-calculator"></i>
				Last quarter
			</a>
		</li>
		<li class="nav-item">
			<a id="trades/reports/crowddata" class="nav-link" href="/assets/trade/reports/crowddata">
				<i style="font-size: 32px;" class="icon ion-social-reddit"></i>
				Social engagement
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i style="font-size: 32px;" class="icon ion-social-freebsd-devil"></i>
				Year-end sale
			</a>
		</li>
	</ul>
</div>