<div class="container-fluid">
	<div class="row">
		<%- include('leftpanel_block') %>
			<div class="col-8">
				<% if (locals.routes && routes.length) { %>
					<!-- Page Modules inclusion -->
					<% for (var elems in routes) {
					%>
						<%- include(routes[elems]) %><%
					}%>
					<%
			} %>
				</div>
			</div>
		</div>