<!-- login-form -->
<div class="container-full-bg" id="div1">
	<input class="form-control text-center" type="text" placeholder="Login" readonly>
	<div class="form-group">
		<label class="badge badge-primary" for="InputName">name</label>
		<input type="findName" name="findName" class="form-control"
		id="InputName" placeholder="Enter name">
		<button class="btn btn-primary btn-lg btn-block" id="click">
			LOGIN
		</button>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">
				Login
			</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" id="dialogtext"></div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">
				Close
			</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">
				Ok
			</button>
		</div>
	</div>
</div>
</div>
