<!-- login-form -->
<div class="container-full-bg" id="div1">
	<input class="form-control text-center" type="text" placeholder="Login" readonly>
	<div class="form-group">
		<input type="text" class="form-control"
		id="inputName" placeholder="Enter name">
		<button class="btn btn-primary btn-lg btn-block" id="login">
			LOGIN
		</button>
	</div>
</div>
