<div class="card">
	<div class="card-header"
	    id="headingOne">
		<h5 class="mb-0">
        <button id="vadd" class="btn btn-secondary btn-lg btn-block dropdown-toggle">
          <span class="lnr lnr-briefcase"></span> My assets
        </button>
      </h5> </div>
	<div id="collapseOne"
	    class="collapse show"
	    aria-labelledby="headingOne">
		<div class="card-body">
			<div class='infiList'>
				<%
				if (locals.data && locals.data.assets) {
				%>
					<%
				for (var elem in locals.data.assets) {
				%> <button id="<%= 'Tick-'+ elem%>"
						    class="btn btn-success btn-block">
				<%= locals.data.assets[elem].symbol
				+ ' | ' + locals.data.assets[elem].qtt%></button>
						<% } %>
							<% }
				else {
				%> <a href="/login">LOGIN</a>
								<% }
				%>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header"
	    id="headingTwo">
		<h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block dropdown-toggle"
	data-toggle="collapse" data-target="#collapseTwo">
          [+] Add
        </button> </h5> </div>
	<div id="collapseTwo"
	    class="collapse">
		<div class="card-body"> <select type="select"
			    id="ticker"
			    class="form-control">
			<% if (locals.symb && Object.keys(symb).length) {%>
				<% for (var elems in symb) {
					console.log(elems);
				}
				%>
				<% for (var elems in symb){ %>
					<option label="<%=symb[elems]%>">
					 <%- elems %></option>
					 <%} %>
				<%}
			%>
			</select> </div>
		<div class="card-body"><input id="qtt"
			    type="text"
			    class="form-control"
			    placeholder="enter amount"> </div>
		<div class="card-body"> <button id="add"
			    class="btn btn-lg btn-block btn-info"> OK
			        </button> </div>
		<div class="card-footer text-muted">Last update : 2 days ago </div>
	</div>
</div>