<div class="container-full-bg">
	<form action="/login" method="post">
		<input class="form-control text-center" type="text" placeholder="Signin" readonly>
		<div class="form-group">
			<label class="text-center" for="InputDbName">Db Name</label>
			<input type="dbName" name="sdbName" class="form-control" id="InputDbName" placeholder="Enter db Name">
			<label class="text-center" for="InputCollecName">Collection Name</label>
			<input type="collectName" name="scollectName" class="form-control" id="InputCollectName" placeholder="Enter collection Name">
			<label class="text-center" for="InputUName">Name/Pseudo</label>
			<input type="dataName" name="dataName" class="form-control" id="InputUName" placeholder="Enter your name">
			<input type="submit" class="btn btn-primary btn-lg btn-block" value="create"></input>
		</div>
	</form>
</div>
<!--//signin-form-->
