<!--signin-block-->
<div class="container-full-bg">
	<input class="form-control text-center" type="text" placeholder="Signin" readonly>
	<div class="form-group">
		<label class="text-center" for="InputName">
			Name/Pseudo
		</label>
		<input type="text" class="form-control" id="InputName"
		placeholder="Enter your name">
	</div>
	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="text-center" for="InputEmail">
					Email
				</label>
				<input type="email" class="form-control" id="InputEmail"
				placeholder="Enter your email">
			</div>
			<div class="form-group col-md-6">
				<label class="text-center" for="InputSocketid">
					Socket ID
				</label>
				<input type="text" class="form-control mb-2" id="InputSocketid"
				value="socketid" readonly>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="text-center" for="InputCompany">
			Company
		</label>
		<input type="text" class="form-control" id="InputCompany"
		placeholder="Enter your company name">
	</div>
	<div class="form-group">
		<label class="text-center" for="InputCompany">
			Base currency
		</label>
		<select class="form-control" id="InputBcurr">
			<option>EUR</option>
			<option>USD</option>
			<option>BTC</option>
		</select>
	</div>
	<button class="btn btn-primary btn-lg btn-block" id="register">
		CREATE
	</button>
</div>
