<div class="panel-body">
  <div class="row btn-row">
    <div class="col-xs-12 text-center">
      <i id="adveth" class="text-white"></i>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-xs-4"><h3 id="stream-text"></h3></div>
    <div class="col-xs-12 text-center">
      <h5 class="text-info">Currently streaming from:</h5>
      <i id="sub-exchanges" class="text-white"></i>
    </div>
    <h6><a id="source" class="text-right" href="https://www.cryptocompare.com/"><strong>Source:</strong> CryptoCompare</a></h6>
  </div>
  <div class="container-fluid" style="overflow:scroll; height:250px;">
  <table class="table">
    <thead>
      <tr>
        <th class="text-primary">Market</th>
        <th class="text-primary">Type</th>
        <th class="text-primary">ID</th>
        <th class="text-primary">Price</th>
        <th class="text-primary">Quantity</th>
        <th class="text-primary">Total</th>
      </tr>
    </thead>
    <tbody id="trades">
    </tbody>
  </table>
</div>
</div>
