body, html {
	padding: 50px;
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #1b2d3c !important;
	position: relative;
}

.navbar-default {
	border-color: white !important;
}

.jumbotron {
	background-color: transparent !important;
	border-style: solid;
	border-color: white;
	border-width: thin;
	padding: 10px;
}

.container-full-bg {
	padding: 2px;
}

.BUY {
	color: green;
}

.SELL {
	color: red;
}
