body, html {
	padding: 50px;
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #1b2d3c !important;
	position: relative;
}

.navbar-default {
	border-color: white !important;
}

.jumbotron {
	background-color: transparent !important;
	border-style: solid;
	border-color: white;
	border-width: thin;
	padding: 10px;
}

canvas {
  background-color: transparent;
  width: 50px;
  height: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.popUp {
	padding: 5px 10px;
	background-color: transparent !important;
	text-decoration-color: white;
	position: fixed;
	top: 0; right: 0;
}

.infiList {
	border-style: solid;
	border-color: transparent;
	border-width: large;
	overflow: scroll;
	height: 150px;
}

.hidden {
	display: none;
}

.form-group {
	border-style: solid;
	border-color: white;
	border-width: thin;
	padding: 10px;
	background-color: white;
}

.container-full-bg {
	padding: 2px;
}

.btn-space {
	 margin-right: 5px;
	 margin-left: 5px;
	 margin-top: 5px;
}

.BUY {
	color: green;
}

.SELL {
	color: red;
}
