body, html {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url('../images/background.png'); */
  background: #1b2d3c !important;
  position: relative;
}

.jumbotron {
  background-color: transparent !important;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding-top: 2px;
}

.BUY {
  color: green;
}

.SELL {
  color: red;
}
