body, html {
	background: #1b2d3c;
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 45px;
	position: relative;
}

main {
	padding-bottom: 50px;
}

canvas {
	background-color: transparent;
	height: 100px;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	width: 150px;
}

iframe {
	background-color: white;
}

.navbar-default {
	border-color: white;
}

.top-nav-item {
	padding-left: 70px;
}

.jumbotron {
	background-color: transparent;
	border: thin solid white;
	padding: 10px;
}


.popUp {
	background-color: transparent;
	padding: 70px 10px 5px;
	position: fixed;
	right: 0;
	text-decoration-color: white;
	top: 0;
}

.infiList {
	border: large solid transparent;
	height: 250px;
	overflow: scroll;
}

.hidden {
	display: none;
}

.form-group {
	background-color: white;
	border: thin solid white;
	padding: 10px;
}

.container-full-bg {
	padding: 2px;
}

.btn-space {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.BUY {
	color: green;
}

.SELL {
	color: red;
}
