<div class="container-full-bg">
	<div class="jumbotron">
		<h1 style="color: white;" class="d-md-inline-flex">
			<span class="lnr lnr-laptop text-primary"></span>This is great
			<span class="text-info">time</span>
			to work on
			<b class="text-primary"><%= title %></b>
		</h1>
		<h6 style="color: white;" class="d-md-inline-flex">
			<span class="text-primary">Onion</span>
			service :
			<b id="cbv" class="text-info"><%= tvurl %></b>
			<a id="cbws" class="hidden"><%= tsurl %></a>
		</h6>
	</div>
</div>