<div class="jumbotron">
	<p class="text-center">
		<h1 style="color: white;" class="d-md-inline-flex text-center">
			<span class="lnr lnr-laptop text-primary"></span>This is great
			<span class="text-info">&nbsp;time&nbsp;
			</span>
			to work on&nbsp;
			<b class="text-primary"><%= title %></b>
		</h1>
	</p>
	<p>
		<h6 style="color: white;" class="d-md-inline-flex">
			<span class="text-primary">Service&nbsp;
			</span>
			url :&nbsp;
			<b id="cbv" class="text-info"><%= tvurl %></b>
			<a id="cbws" class="hidden"><%= tsurl %></a>
		</h6>
	</p>
</div>