<div class="container-full-bg">
	<div class="jumbotron">
		<h1 style="color: white;">
			<span class="lnr lnr-laptop"></span>
			This is great time to work on
			<b><%= title %></b>
		</h1>
	</div>
</div>