<!DOCTYPE html>
<!-- views/pages/index.ejs -->
<html lang="en">
<head><% include coreelems/head %></head>
<body>
	<header><% include coreelems/header %></header>
	<main><% if (locals.blocks && Object.keys(blocks).length)
		{ %>	<!-- Page Blocks inclusion -->
			<% for (var elems in blocks)
			{ %><%- include(blocks[elems]) %><% } %>
			<%
		} %>
	</main>
	<footer>
		<% include coreelems/footer %>
		<% if (locals.scripts && Object.keys(scripts).length)
		{ %>	<!-- Page scripts inclusion -->
			<% for (var elems in scripts)
			{ %> <script src="<%- scripts[elems] %>"></script><%} %>
			<%
		} %>
	</footer>
</body>
</html>
