<!DOCTYPE html>
<!-- views/pages/index.ejs -->
<html lang="en">
<head><% include coreelems/head %></head>
<body>
	<header><% include coreelems/header %></header>
	<div class="container-full-bg"><% include blocks/my_jumbotron %></div>
	<main>
		<!-- main -->
		<div class="main">
			<div class="container-full-bg">
				<form action="/" method="post">
					<input class="form-control text-center" type="text" placeholder="Login" readonly>
					<div class="form-group">
						<label class="text-center" for="InputEmail1">Email address</label>
						<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text text-mute text-centerd">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="InputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN NOW</button>
				</form>
			</div>
			<div class="container">
				<div class="signin-form profile">
					<h3>Login</h3>

					<div class="login-form">
						<form action="/" method="post">
							<input type="text" name="logemail" placeholder="E-mail" required="">
							<input type="password" name="logpassword" placeholder="Password" required="">
							<div class="tp">
								<input type="submit" value="LOGIN NOW">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="signin-form profile">
					<h3>Register</h3>

					<div class="login-form">
						<form action="/" method="post">
							<input type="text" name="email" placeholder="E-mail" required="">
							<input type="text" name="username" placeholder="Username" required="">
							<input type="password" name="password" placeholder="Password" required="">
							<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
							<input type="submit" value="REGISTER">
						</form>
					</div>
					<p><a href="#"> By clicking register, I agree to your terms</a></p>
				</div>
			</div>
			<div class="clear"></div>
			<!--//signin-form-->
		</div>
	</main>
	<footer><% include coreelems/footer %></footer>
</body>
</html>
