<!DOCTYPE html>
<html lang="en">
<head><% include coreelems/head %></head>
<body>
	<header><% include coreelems/header %></header>
	<main>
		<!-- main -->
		<div class="main"><% if (locals.blocks && Object.keys(blocks).length)
			{ %>	<!-- Page Blocks inclusion -->
				<% for (var elems in blocks)
				{ %><%- include(blocks[elems]) %><% } %>
				<%
			} %>
		</div>
	</main>
	<footer><% include coreelems/footer %></footer>
	<% if (locals.scripts && Object.keys(scripts).length)
	{ %>	<!-- Page scripts inclusion -->
		<% for (var elems in scripts)
		{ %> <script src="<%- scripts[elems] %>"></script><%} %>
		<%
	} %>
</body>
</html>
