<form action="/signin" method="post" style="padding-top:20px;">
	<div class="form-group">
		<label for="email">Email address</label>
		<input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" value="">
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input name="username" type="text" class="form-control" id="username" placeholder="foobar">
	</div>
	<div class="form-group">
		<label for="usercurrency">User main currency</label>
		<select name="usercurrency" class="form-control" id="exampleFormControlSelect1">
			<option>EUR</option>
			<option>USD</option>
			<option>ETH</option>
			<option>BTC</option>
		</select>
	</div>
	<div class="form-group">
		<label for="ethaddr">Ethereum address (if any)</label>
		<input name="ethaddr" type="text" class="form-control" id="ethaddr" placeholder="OXAAA">
	</div>
	<div class="form-group">
		<label for="telegramid">Telegram Id (if any)</label>
		<input name="telegramid" type="text" class="form-control" id="telegramid" placeholder="123456">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input name="password" type="password" class="form-control" id="password" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="passwordConf">Password confirmation</label>
		<input name="passwordConf" type="password" class="form-control" id="passwordConf" placeholder="Password confirmation">
	</div>
	<button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>