<div class="float-left">
	<div class="btn-group-vertical btn-group-lg"  data-toggle="buttons">
		<!-- @TODO : Add variable to template engine and make a for loop -->
		<label class="btn btn-primary ticker active" id="ETH">
			<input type="radio" name="stream-ticker" id="ETH" autocomplete="off" checked="true">ETH
		</label>
		<label class="btn btn-primary ticker" id="BTC">
			<input type="radio" name="stream-ticker" autocomplete="off" checked="false"> BTC
		</label>
		<label class="btn btn-primary ticker" id="LTC">
			<input type="radio" name="stream-ticker" autocomplete="off" checked="false"> LTC
		</label>
		<label class="btn btn-primary ticker" id="NEO">
			<input type="radio" name="stream-ticker" autocomplete="off" checked="false"> NEO
		</label>
	</div>
</div>
