<% if (locals.data && Object.keys(data).length) {%>
	<%- include('profile_card', data) %>
	<%} else {%>
		<h1 class="text-white">=>Hey ! U must
			<a href="/login">log in</a>
			or
			<a href="/signin">register</a>
			before reaching
			<%=title%>
		</h1>
	<% }
%>