# Rate limit entry on node view upstream
limit_req_zone $binary_remote_addr zone=limitf2:10m rate=10r/s;

server {
	listen unix:/tmp/repl.world;

	# SSL configuration
	#
	# @TODO : Add self signed ssl conf for localhost paquets ?

	location / {
		limit_req zone=limitf2 burst=20 nodelay;
		include /usr/src/app/ipview;
	}
}
