<!-- views/coreelems/footer.ejs -->
<nav aria-label="Page navigation" style="padding: 20px;">
  <ul class="pagination justify-content-center">
    <li class="page-item text-muted">© Copyright 2018 coin_board </a>
    </li>
  </ul>
</nav>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous">
</script>
<!-- Socket io cdn -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js">
</script>
<!-- tradestream -->
<script src="javascripts/tradestream.js"></script>
<!-- changer_api get exchange rates -->
<script src="javascripts/changer_api.js"></script>
