<!-- views/coreelems/footer.ejs -->
<nav aria-label="Page navigation" style="padding: 20px;">
	<ul class="pagination justify-content-center">
		<li class="page-item text-muted">© Copyright 2018 coin_board </a>
		</li>
	</ul>
</nav>
<% include script %>
