<nav class="navbar navbar-dark fixed-top bg-primary">
	<a class="navbar-brand mr-0 mr-md-2" href="/">
		<span class="lnr lnr-diamond"></span>
		Coin_Board
	</a>
	<ul class="navbar-nav bd-navbar-nav flex-row">
		<nav class="nav nav-pills">
			<% if (locals.data && locals.data.username) {%>
				<a class="nav-item nav-link text-white" style="padding-right: 20px" href="/profile">
					<span class="lnr lnr-user"></span>
					<%=locals.data.username%>
				</a>
			<%}%>
			<% if (!locals.data || !locals.data.username) {%>
				<a class="nav-item nav-link text-white" style="padding-right: 20px" href="/login">
					<span class="lnr lnr-enter"></span>
					Login
				</a>
				<a class="nav-item nav-link text-white" style="padding-left: 20px; padding-right: 20px" href="/signin">
					<span class="lnr lnr-user"></span>
					Register
				</a>
			<%}%>
			<a class="nav-item nav-link text-white" href="/assets" style="padding-left: 20px; padding-right: 20px">
				<span class="lnr lnr-rocket"></span>
				Assets
			</a>
			<a class="nav-item nav-link text-white" href="/livestream" style="padding-left: 20px; padding-right: 20px">
				<span class="lnr lnr-briefcase"></span>
				Live trade
			</a>
			<a class="nav-item nav-link text-white" style="font-family: Arial, FontAwesome; padding-left: 20px; padding-right: 20px" href="/livestream">
				 Repo
			</a>
		</nav>
	</ul>
	<div class="float-right popUp hidden" id="popup">
		<div class="alert" id="ppContent"></div>
	</div>
</nav>