<noscript>
	<div class="alert alert-danger text-center flex-row" role="alert">
		<h2><%= app %>
			work best with JavaScript enabled ;)</h2>
	</div>
</noscript>
<nav class="navbar navbar-dark flex-column navbar-expand-lg flex-md-row fixed-top bg-primary">
	<a class="navbar-brand" href="/">
		<span class="lnr lnr-mustache text-white"></span>
		<%= app %>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon" style="padding-right: 50px;"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<% if (locals.data && locals.data.username) {%>
			<a class="nav-item top-nav-item navbar-text text-white" href="/profile">
				<span class="lnr lnr-user"></span>
				<%= locals.data.username %>
			</a>
		<%}%>
		<% if (!locals.data || !locals.data.username) {%>
			<a class="nav-item top-nav-item navbar-text text-white" href="/login">
				<span class="lnr lnr-power-switch"></span>
				Login
			</a>
			<a class="nav-item top-nav-item navbar-text text-white" href="/signin">
				<span class="lnr lnr-database"></span>
				Register
			</a>
		<%}%>
		<li class="nav-item top-nav-item navbar-text text-white dropdown" href="/assets/dashboard">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="lnr lnr-rocket"></span>
				Dashboard
			</a>
			<div class="dropdown-menu badge-primary" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/assets/dashboard">Dashboard Index</a>
				<a class="dropdown-item" href="/assets/infofeed">Info feed</a>
				<a class="dropdown-item" href="/assets/api/param">Api params</a>
			</div>
		</li>
		<a class="nav-item top-nav-item navbar-text text-white" href="/assets/infofeed">
			<span class="lnr lnr-bullhorn"></span>
			News Feeds
		</a>
		<a rel="noopener noreferrer" class="nav-item top-nav-item navbar-text text-white" target="_blank" href="https://github.com/MyAssetBoard/coinboard-webapp">
			<span class="lnr lnr-code"></span>
			Github
		</a>
		<a rel="noopener noreferrer" class="nav-item top-nav-item navbar-text text-white" target="_blank" href="https://myassetboard.github.io/coinboard-webapp/index.html">
			<span class="lnr lnr-book"></span>
			Doc
		</a>
		<div></nav>