<div class="container">
  <div class="btn-group-vertical btn-group-lg" role="group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-primary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-primary">4</button>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
  </div>
</div>
