<div class="container">
  <div class="btn-group-vertical btn-group-lg" role="group">
    <button id ="ETH" type="button" class="btn ticker btn-primary">ETH</button>
    <button id ="BTC" type="button" class="btn ticker btn-secondary">BTC</button>
    <button id ="LTC" type="button" class="btn ticker btn-secondary">LTC</button>
    <button id ="NEO" type="button" class="btn ticker btn-secondary">NEO</button>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
  </div>
</div>
